* {
  padding: 0;
  margin: 0;
}
header {
  height: 50px;
  background-color: #448ae4;
  font-family: 'Roboto', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header a, header nav {
  align-self: stretch;
}
header a {
  flex-grow: 1;
  text-decoration: none;
  color: white;
}
header a:hover {
  cursor: pointer;
}
header a:visited {
  color: white;
}
header nav {
  width: 210px;
  display: flex;
  align-items: stretch;
}
header nav a {
  flex: 1 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header nav a:hover{
  cursor: pointer;
  background-color: #699de0;
}
@media screen and (max-width: 767px){
  header, main {
    padding: 0 50px;
  }
  header nav {
    display: none;
  }
  header a{
    flex-grow: 0;
  }
}
@media screen and (min-width: 768px){
  header, main {
    padding: 0 75px;
  }
}
@media screen and (min-width: 992px){
  header, main {
    padding: 0 150px;
  }
}
@media screen and (min-width: 1200px){
  header, main {
    padding: 0 250px;
  }
}
